{% extends '@Game/base.html.twig' %}

{% block title %}
    {{ parent() }} :: Races
{% endblock %}

{% block body %}
    {# форма за търсене #}
    <div class="pull-right">
        {{ form_start(form, { attr: { class: 'form-inline' }}) }}
        {{ form_widget(form.search, { attr: { placeholder: 'search here' }}) }}
        <button type="submit" class="btn btn-default">Search</button>
        {{ form_errors(form.search) }}
        {{ form_end(form) }}
        <br>
    </div>

    {# таблица с данни #}
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Race</th>
            <th>Bio</th>
            <th>Actions</th>

        </tr>

        {% for race in races %}
            <tr>
                <td>{{ race.id }}</a></td>
                <td>{{ race.name }}</td>
                {#<td>{{ race.description }}</td>#}

                <td><a href="{{ url('description_race', {id: race.id}) }}">Show details</a></td>
                <td><a href="">Update</a>
                    <a href="">Delete</a>
                </td>

            </tr>
        {% endfor %}

    </table>
{% endblock %}