{% extends '@Game/base.html.twig' %}

{% block title %}
    {{ parent() }} :: Add new Planet

{% block body %}
    <h1>Planet creation</h1>

    {{ form_start(form, {attr: {class: "table"}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('planets_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
